* {
    margin-top: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    color: #757575;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.font1 {
    font-family: 'Pacifico', cursive;
}

.font2 {
    font-family: 'Righteous', cursive;
}

.nav-custom {
    box-shadow: 0 0 2px rgb(102, 102, 102);
    color: black;
}

.bg-black {
    background-color: #222222;
}

.text-center {
    text-align: center;
}

.banner {
    max-height: 510px;
    overflow: hidden;
}

.banner-m-text {
    color: #4285F4;
    background: linear-gradient(to right, #4285F4, #8ab7ff);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30vw;
}

.banner-top {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav-link {
    text-decoration: none !important;
    color: #757575;
}

.nav-dec-none {
    text-decoration: none !important;
}

.nav-clicked {
    border-bottom: 2px solid #ff414d;
}