* {
    margin-top: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.font1 {
    font-family: 'Pacifico', cursive;
}

.font2 {
    font-family: 'Righteous', cursive;
}

.nav-custom {}

.bg-black {
    background-color: black;
}

.bg-m-black {
    background-color: #222222;
}

.nav-groups-container[_ngcontent-bcy-c2]::-webkit-scrollbar {
    background-color: var(--fire-color-sidenav-scrollbar);
    overflow-x: hidden;
    overflow-y: auto;
    width: 8px;
    /* background-color: #000000; */
}

.pop-up {
    display: flex;
    min-height: 90vh;
    height: 100px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    max-width: 800px;
}

.pop-up-bg {
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 0 2px #2222227e;
}

.banner {
    max-height: 510px;
    overflow: hidden;
}

.bg-banner-b {
    background-color: #4285F4;
}

.bg-banner-p {
    background-color: #52057b;
}

.banner-m-text-b {
    color: #8ab7ff;
    background: linear-gradient(to right, #4285F4, #8ab7ff);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30vw;
}

.banner-m-text-p {
    color: #892cdc;
    background: linear-gradient(to right, #52057b, #892cdc);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30vw;
}

@media(max-width:560px) {
    .banner-m-text {
        font-size: 132px;
    }
}

.banner-top {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.exp-w {
    width: 100% !important;
}

.exp-h {
    height: 100% !important;
}

.search-box {
    border-radius: 5px 0px 0px 5px;
}

.search-btn {
    all: unset;
    border: inherit;
    background-color: white;
    color: #ff414d;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: #ff414d;
    color: white;
}

.search-btn:active {
    outline: auto;
}

.nav-item {
    padding: 0 5px 0 5px;
}

.nav-link {
    color: #707070;
    /* transition: all 0.2s linear; */
}

.nav-link:hover {
    color: #222222;
}

.dec-none {
    text-decoration: none !important;
}

.nav-clicked {
    border-bottom: 2px solid #ff414d;
    color: #ff414d;
}

.nav-clicked:hover {
    color: #ff414d;
}

.profile-icon {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid white; */
}

.w-wrap {
    word-wrap: break-word;
}


/* table */

.cus-table {
    display: table;
    box-shadow: 0 0 5px rgb(100, 100, 100);
}


/* footer */

.footer-col {
    padding: 5px;
    cursor: default;
    transition: all 0.2s linear;
}

.footer-col:hover {
    filter: drop-shadow(0px 0px 10px white);
}

.f-load {
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
}

.f-load-img {
    max-width: 100px;
    opacity: 0.8;
    animation: circular 1s linear infinite;
    margin-top: 15vw;
}

@keyframes circular {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width:610px) {
    .f-load-img {
        margin-top: 90px;
    }
}


/* profile page css */

.profile-pic {
    object-fit: cover;
    max-width: 300px;
    border-radius: 50%;
}

@media(max-width:575px) {
    .profile-pic {
        max-width: 200px;
    }
}